<div class="col-md-8 mx-auto">
    <div class="card text-center">
        <div style="background:#000; color:#fff; padding: 10px" class="card-header">
            <h3 style="font-weight:bold;">NUEVO PRODUCTO</h3>
        </div>
        <div class="card-body">
            <form action="/producto/create" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Name" autofocus required />
                </div>
                <div class="form-group">
                    <select class="browser-default custom-select" name="estado">
                        <option selected>Seleccionar Estado</option>
                        <option value=true>Activo</option>
                        <option value=false>Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="browser-default custom-select" name="usuario">
                        <option selected>Seleccionar Usuario</option>
                        {{#each usuarios}}
                        <option value={{{_id}}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" name="precio" class="form-control" placeholder="Price" required />
                </div>
                <div class="form-group">
                    <select class="browser-default custom-select" name="categoria" required>
                        <option selected>Seleccionar Categorias</option>
                        {{#each categorias}}
                        <option value={{{_id}}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="descripcion" class="form-control" placeholder="Descripcion"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="img" class="form-control" placeholder="imagen" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>