<!-- Cart Items -->
<div class="container-md cart">
<table>
    <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    </tr>
    <td>No Hay Productos en el Carrito</td>
</table>

<div class="total-price">
    <table>
    <tr>
        <td>Subtotal</td>
        <td>$0</td>
    </tr>
    <tr>
        <td>Tax</td>
        <td>$0</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>$0</td>
    </tr>
    </table>
    <a href="#" class="checkout btn">Pagar</a>

</div>

</div>
